.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul {
  list-style-type: none;
  background-color: rgb(212, 178, 233);
  padding: 10px;
}
li {
  padding: 10px;
  background: rgb(246, 212, 212);
  border-radius: 10px;
}
li:hover {
  background-color: rgb(240, 242, 183);
}
