.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-around;;
    }
    ul{
    list-style-type: none;
    background-color: rgb(186, 219, 18);
    padding: 10px;
    }
    li{
    padding: 10px;
    background: rgb(248, 152, 221);
    border-radius: 10px;
    }
    li:hover{
    background-color: rgb(250, 111, 51);                          
    }